
/* 2009 Google styling */
body, td, a, p, .h {
  font-family: arial, sans-serif;
}

input {
  font-family: inherit;
  height: 20px;
}

main {
    position: absolute;
    bottom: 0;
    left: 0;

    z-index: 10;
}


html, body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.wrapper {
    border: solid 0px purple;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#homeScreenNav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid black;
}

#title {
  font-family: googleFont-medium;
  font-size: 50pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title img {
  width: 70%;
  padding: 5%;
  padding-top: 0;
  margin-top: -10%;
}

#homeScreenSearchContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  z-index: 10;
}

#btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    /* padding: 10px; */
}



#searchBtn, #luckyBtn {
    /* width: 30%; */
    align-self: center;;
    padding: 5px;
    margin: 5px;
  }

#homeScreenInfo {
  margin: 20px;
  margin-top: 50px;

  text-align: center;
}

#imageSearchScreen {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  
}

/* 
.resultDiv img {
  width: 100 !important;
  height: 200;
} */

/* Additional CSS for navigation */
.navOption {
  padding: 0 8px;
  text-decoration: none;
  color: #0000cc;
}

.selectedNavOption {
  color: #000;
  font-family: gotham-medium;
}

.navOption:hover {
  text-decoration: underline;
}

.result-item {
  background-color: #f9f9f9;
  border: 1px #0000cc solid;
  /* border-radius: 4px; */
  text-align: center;
  object-fit: contain;
  display: inline-block;
  padding: 0;
}

.result-item img {
  object-fit:contain;
    padding: 0px;
  margin: 0px;

}

